
body{
    background-color: aliceblue;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: blueviolet;
}
main{
    background-color: darkturquoise;
}
section{
    background-color: chartreuse;
}

aside{
    background-color: greenyellow;
}
article{
    background-color: fuchsia;
}